{% extends 'base.html' %}
{% load static %}
{% block content %}

    <!-- About Detail -->
    <div class="container-fluid">
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <!-- About Detail Start -->
                    <div class="position-relative mb-3">
                        <h6 class="section-title bg-white text-start text-primary pe-3">About Us</h6>
                        <img class="img-fluid w-100" src="{% static 'img/about.jpg' %}" style="object-fit: cover;">
                        <div class="bg-white border border-top-0 p-4">
                            <h1 class="mb-4">#1 Place To Find The Perfect Property</h1>
                             <p class="mb-4">Tempor erat elitr rebum at clita. Diam dolor diam ipsum sit. Aliqu diam amet diam et eos. Clita erat ipsum et lorem et sit, sed stet lorem sit clita duo justo magna dolore erat amet</p>
                            <div class="row gy-2 gx-4 mb-4">
                                <p><i class="fa fa-check text-primary me-3"></i>Tempor erat elitr rebum at clita</p>
                                <p><i class="fa fa-check text-primary me-3"></i>Aliqu diam amet diam et eos</p>
                                <p><i class="fa fa-check text-primary me-3"></i>Clita duo justo magna dolore erat amet</p>
                            </div>
                        </div>
                    </div>
                    <!-- About Detail End -->
                </div>
            </div>
        </div>
    </div>
    <!-- About Detail -->
{% endblock content %}